<h1>Sign Up</h1>
<div class="form-group">
<%= form_for @user do |form| %>
  <% if @user.errors.any? %>
    <div>
      <%= pluralize(@user.errors.count, "error") %> prevented the account from being created:
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render form %>
  <%= form.submit "Create", class: "btn btn-default" %>
<% end %>
</div>