<%= form_for @dish do |d| %>
  <% if @dish.errors.any? %>
    <div>
      <%= pluralize(@dish.errors.count, "error") %> prevented this dish from being submitted:
      <ul>
        <% @dish.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= d.label "title" %><br>
    <%= d.text_field "title" %>
  </div>
  <div>
    <%= d.label "city" %><br>
    <%= d.text_field "city" %>
  </div>
  <div>
    <%= d.label "description" %><br>
    <%= d.text_area "description" %>
  </div>
  <div>
    <%= d.submit "Submit" %> 
  </div>
<% end %>