<div>
	<%= form.file_field :image %>
</div>
<div>
  <%= form.label "title" %><br>
  <%= form.text_field "title" %>
</div>
<div>
  <%= form.label "city" %><br>
  <%= form.text_field "city" %>
</div>
<div>
  <%= form.label "description" %><br>
  <%= form.text_area "description" %>
</div>
