<div class="form-group">
	<div>
		<%= form.file_field :image %>
	</div>
	<br>
	<div>
	  <%= form.label "title" %><br>
	  <%= form.text_field "title", class: "form-control" %>
	</div>
	<div>
	  <%= form.label "city" %><br>
	  <%= form.text_field "city", class: "form-control" %>
	</div>
	<div>
	  <%= form.label "restaurant" %><br>
	  <%= form.text_field "restaurant", class: "form-control" %>
	</div>
	<div>
	  <%= form.label "description" %><br>
	  <%= form.text_area "description", class: "form-control" %>
	</div>
</div>
