<h1>foodspotting clone</h1>
<%= link_to "Submit a dish!", new_dish_path %>
<hr>
<% @dishes.each do |dish| %>
	<!-- NEED TO ADD IMAGE UPLOAD HERE -->
	<h2><%= dish.title %></h2>
	<h2><%= dish.description %></h2>
	<h3><%= dish.city %></h3>
	<h4>| <%=dish.user_id %> | <h4>
	<%= link_to "Edit Dish", edit_dish_path(dish) %>
	<hr>
<% end %>