<!DOCTYPE html>
<html>
<head>
  <title>Foodspotting Clone</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Rails Bootstrap" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class = "navbar-header">
          <%= link_to "viable dishes", dishes_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Submit a dish!", new_dish_path %></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <%= text_field_tag :search, params[:search], class: "form-control" %>
          </div>
          <%= submit_tag "Search", class: "btn btn-default", name: nil%>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <!-- refactor style for 'a' link below -->
          <li><%= link_to "#{current_user.to_s}", user_path(current_user) %></li>
          <li><%=link_to "Log out", session_path("current"), method: :delete %></li>
          <% else %>
          <!-- refactor style for 'a' link below -->
          <li><a href="#" data-toggle="modal" data-target="#LoginModal">Log in</a></li>
          <li><%= link_to "Sign Up", new_user_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div class="container">
    <%= render :partial => "layouts/messages", :locals => {:flash => flash} %>
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-xs-12 col-sm-9">
        <div class="row">
          <%= yield %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to 'All Cities', dishes_path, class: "list-group-item #{'active' if params[:city] == nil}" %></li>
          <li><%= link_to 'Vancouver', dishes_path(city: 'Vancouver'), class: "list-group-item #{'active' if params[:city] == 'Vancouver'}" %></li>
          <li><%= link_to 'Toronto', dishes_path(city: 'Toronto'), class: "list-group-item #{'active' if params[:city] == 'Toronto'}" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1>Log in</h1>
          <%= form_tag sessions_path do %>
            <div>
              <%= label_tag "email" %><br/>
              <%= text_field_tag "email" %>
            </div>
            <div>
              <%= label_tag :password %><br/>
              <%= password_field_tag :password %>
            </div>
            <br>
            <div><%= submit_tag "Log In", class: "btn btn-default" %></div>
          <% end %>
        </div>
      </div>
  </div>
</body>
</html>